.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
}

.user-avatar img {
    width: inherit;
    height: inherit;
}

.comment {
    animation-duration: 0.3s;
    animation-name: fadeIn;
    display: flex;
    align-items: flex-start;
    /* border-bottom: 1px solid #e6e6e6; */
    padding: 10px 5px;
}
  
.comment .user-data {
    max-width: 90%;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    background-color:rgb(242, 240, 245,0.4);
     /* #f8f3f3; */
    border-radius: 12px;
    border-top-left-radius: 0px;
}
  
.comment-text {
    color: #2f2f2f;
    font-size: 0.9rem;
    word-break: break-all;
}

.username {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    /* margin-bottom: 15px; */
}