.draw-plane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.canvas-plane {
    border: 3px solid black;
    border-radius: 5px;
    margin-left: var(--left-margin);
}