.title-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    background-color: var(--theme-color);
    font-family: 'Lucida Handwriting', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 28px;
    padding: 10px;
}
